@page "/success"
@using NewVisionPayment.Models;


<MudCard>
    <MudCardHeader>
        <h1>Thank you!</h1>
    </MudCardHeader>
    <MudCardContent>

        <h2>Thank you for your payment of £!</h2>

        <MudList Clickable="true" Dense="true">
            <MudListItem Text="@displayCustomer.Id" />
            <MudDivider />
            <MudListItem Text="@displayCustomer.firstName" />
            <MudListItem Text="@displayCustomer.lastName" />
            <MudListItem Text="@displayCustomer.addressLine1" />
            <MudListItem Text="@displayCustomer.addressLine2" />
            <MudListItem Text="@displayCustomer.city" />
            <MudListItem Text="@displayCustomer.postcode" />
        </MudList>


        <MudButton Variant="Variant.Filled" DisableElevation="true" Color="Color.Primary" Size="Size.Large" Class="mt-8"> Print This Page </MudButton>
    </MudCardContent>

    
</MudCard>



@code{
    // This is the id we will carry over from our beginning screen and passed through via the
    [Parameter]
    public NewVisionCustomer displayCustomer { get; set; } = new NewVisionCustomer();

    


}